@import url("MrOtherGuy--firefox-csshacks/compact_extensions_panel.css");
@import url("MrOtherGuy--firefox-csshacks/hide_tabs_toolbar_v2.css");
@import url("MrOtherGuy--firefox-csshacks/autohide_sidebar.css");

@import url("datguypiko--Firefox-Mod-Blur/icons_in_main_menu.css");
@import url("datguypiko--Firefox-Mod-Blur/menu_icon_change_to_firefox.css");
@import url("datguypiko--Firefox-Mod-Blur/ublock-icon-change.css");
@import url("datguypiko--Firefox-Mod-Blur/white_github_icon_in_bookmarks.css");

/*@import url("ranmaru22--firefox-vertical-tabs/userChrome.css");*/

/*@import url("stonecrusher--simpleMenuWizard/userChrome.css");*/

:root {
	--accent-1: #61c792;
	--lwt-background-alignment: left top;
}

/* *** Extension menu: hide header *** */
/* header text */
#unified-extensions-view > .panel-header {
	display: none !important;
}

/* divider bar */
#unified-extensions-view > toolbarseparator:nth-of-type(1) {
	display: none !important;
}

/* readd top padding */
#unified-extensions-area {
	padding-top: 4px !important;
}
/* *** END Extension menu: hide header *** */

/* *** Use theme background image for titlebar *** */
#nav-bar {
	background-image: var(--lwt-additional-images);
	background-repeat: var(--lwt-background-tiling);
	background-position: var(--lwt-background-alignment);
}
/* *** END Use theme background image for titlebar *** */

/* *** Remove toolbox bottom border *** */
#navigator-toolbox {
	border-bottom-width: 0px !important;
}
/* *** END Remove navbar bottom border *** */

/* *** Sidebar things *** */

/* set vars for MrOtherGuy--firefox-csshacks/autohide_sidebar */
#sidebar-box {
	--uc-sidebar-width: 50px !important;
	--uc-sidebar-hover-width: 250px	!important;
	--uc-autohide-sidebar-delay: 0.2s !important;
	--uc-autohide-transition-duration: 0.2s !important;
	--uc-autohide-transition-type: ease !important;
}

/* hide header */
#sidebar-box[sidebarcommand*="treestyletab_piro_sakura_ne_jp-sidebar-action"] > #sidebar-header/*,
#sidebar-splitter[sidebarcommand*="treestyletab_piro_sakura_ne_jp-sidebar-action"]*/ {
	display: none;
}

/* hide right border */
#sidebar, #sidebar-header {
	border-inline: none !important;
}
/* *** END Sidebar things *** */

@media (-moz-platform: linux) {
	/*
		From: MrOtherGuy/firefox-csshacks: Workaround for Firefox bug: Use
		Linux's own mmc buttons instead of built-in ones when using a theme
	*/	
	.titlebar-button{
		list-style-image: none !important;
		appearance: none !important;
	}
	
	.titlebar-button > .toolbarbutton-icon{
		appearance: auto !important;
		background: none !important;
		width: unset !important;
		height: unset !important;
	}
	
	.titlebar-min > .toolbarbutton-icon{
		-moz-default-appearance: -moz-window-button-minimize !important;
	}
	
	.titlebar-max > .toolbarbutton-icon{
		-moz-default-appearance: -moz-window-button-maximize !important;
	}
	
	.titlebar-restore > .toolbarbutton-icon{
		-moz-default-appearance: -moz-window-button-restore !important;
	}
	
	.titlebar-close > .toolbarbutton-icon{
		-moz-default-appearance: -moz-window-button-close !important;
	}

	/* Properly align MMC buttons on my personal install */
	.titlebar-min, .titlebar-max, .titlebar-restore {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.titlebar-min {
		margin-bottom: 1px !important;
		padding-left: 10px !important;
	}

	.titlebar-close {
		padding-left: 0px !important;
		padding-right: 5px !important;
	}

	/* *** KDE icons *** */
	#reload-button {
		list-style-image: url('file:///usr/share/icons/breeze-dark/actions/32/view-refresh.svg') !important
	}
	/* *** END KDE icons *** */
}

/* *** Right-click menu things *** */
@media (-moz-platform: linux) {
	/* kde assumed! */
	menupopup {
		--panel-background: #26292d !important;
		--panel-border-radius: 3px !important;
		--panel-border-color: #5f6265 !important;
		--panel-padding: 0px !important;
	}

	menuseparator {
		width: calc(100% - 14px) !important;
		margin: auto;
	}


	menu, menuitem, menucaption {
		padding: 3.2px 6px;
	}


	/* purposefully ignoring menugroups because their only instances
		are the forward/backward/reload/star bars that are hidden
		anyways in the userChrome.js */
	menupopup[hasbeenopened] > :nth-child(1 of .x-nhnd-menuobject:not([hidden])) {	
		padding-top: 5.5px !important;
	}

	menupopup[hasbeenopened] > :nth-last-child(1 of .x-nhnd-menuobject:not([hidden])) {
		padding-bottom: 5.5px !important;
	}

	.x-nhnd-menuobject {
		text-decoration: none !important;
		background-color: unset !important;
	}

	.x-nhnd-menuobject:hover {
		background-color: unset !important;
		text-decoration: underline !important;
		text-decoration-color: var(--accent-1) !important;
	}
}
/* *** END Right-click menu things *** */

/* *** Override weird spacer from
	MrOtherGuy--firefox-csshacks/hide_tabs_toolbar_v2 *** */
@media not (-moz-bool-pref: "sidebar.verticalTabs") {
  :root:is([tabsintitlebar], [customtitlebar]) #toolbar-menubar:not([autohide="false"]) ~ #nav-bar {
    :root[sizemode="normal"] & {
      & > .titlebar-spacer {
        display: none !important;
      }
    }
  }
}
/* *** END Override weird spacer from [...] *** */

/* *** set background for find bar *** */
findbar {
	background: none !important; /* zero out existing style */
	background-image: var(--lwt-additional-images) !important;
	background-repeat: var(--lwt-background-tiling) !important;
	background-position: var(--lwt-background-alignment) !important;

	border: none;
}
/* *** END set background for find bar *** */
