@import url("ranmaru22--firefox-vertical-tabs/userChrome.css");
@import url("datguypiko--Firefox-Mod-Blur/userChrome.css");
@import url("helpimnotdrowning--icon-replacements/userChrome.css");

:root {
    /* sharper corners */
    --firefoxcss-border-radius: 12px !important;
    
    /* less delay when opening vertical tabs */
    --delay: 0.0s;
    
    /* ranmaru22/firefox-vertical-tabs : fix nav-bar cut off on top */
    --uc-toolbar-height: 10px;
    
}

@media (-moz-platform: windows) {
    /*
      more margin for m/m/c buttons (default 95)
    */
    :root {
        --firefoxcss-control-buttons-margin: 128px;
        
    }
    
    /*
      ranmaru22/firefox-vertical-tabs : Fix funky padding for Firefox button, align
    */
    #PanelUI-button {
        margin-top: 1px !important;
        
    }
    
    /*
      ranmaru22/firefox-vertical-tabs : Fix mmc box sizes, sized closer to other
      boxes like the extension buttons
    */
    .titlebar-buttonbox * {
        width: 39px !important;
        height: 28px !important;
        
    }
    
    /*
      datguypiko/Firefox-Mod-Blur : Unset mmc padding, align w/ other buttons
      8px spacing almost perfectly aligns with normal W11 button spacing
    */
    .titlebar-buttonbox-container .titlebar-button {
        padding: unset !important;
        padding-left: unset !important;
        padding-right: unset !important;
        margin-left: 3px !important;
        margin-right: 3px !important;
        
    }
    
    :root[sizemode="maximized"] .titlebar-buttonbox-container .titlebar-button {
        margin-top: 2px !important;
        
    }
  
    :root:not([sizemode="maximized"]) .titlebar-buttonbox-container .titlebar-button {
        margin-top: -1px !important;
        
    }
    
    /*
      Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/window_control_fallback_for_custom_windows_theme.css
      made available under Mozilla Public License v. 2.0
      See the above repository for updates as well as full license text.
    */

    /*
      If one uses custom Windows theme, then Firefox uses high-contrast window
      control buttons. This style makes Firefox fall back to using normal window
      control style.
    */
    .titlebar-button {
        background-color: transparent !important;
        -moz-context-properties: stroke !important;
        stroke: currentColor !important;
        
    }
  
    .titlebar-button:hover {
        background-color: hsla(0,0%,100%,.32) !important
        
    }
  
    .titlebar-close:hover {
        background-color: hsl(355,86%,49%) !important
        
    }
  
    .titlebar-close {
        list-style-image: url(chrome://browser/skin/window-controls/close.svg) !important
        
    }
  
    .titlebar-min {
        list-style-image: url(chrome://browser/skin/window-controls/minimize.svg) !important
        
    }
  
    .titlebar-max {
        list-style-image: url(chrome://browser/skin/window-controls/maximize.svg) !important
        
    }
  
    .titlebar-restore {
        list-style-image: url(chrome://browser/skin/window-controls/restore.svg) !important
        
    }
    
    /*
      Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/menulike_bookmarks_folder_popups.css
      made available under Mozilla Public License v. 2.0
      See the above repository for updates as well as full license text.
    */
  
    /*
      This style makes menus from bookmarks toolbar folders look like context menus
      do (on Win10) which was the behavior pre-fx92
    */
  
    menupopup[placespopup="true"] {
        padding: 0 !important;
        margin: 0 !important;
        --arrowpanel-background: var(--menu-background-color,Menu) !important;
        border-radius: var(--panel-border-radius) !important;
        
    }
  
    .menupopup-arrowscrollbox {
        margin-top: 1px !important;
        border: 1px solid var(--panel-border-color) !important;
        padding: var(--panel-padding) !important;
        border-radius: var(--panel-border-radius) !important;
        
    }
  
    :where(menupopup[placespopup="true"]) menu,
    :where(menupopup[placespopup="true"]) menuitem {
        margin-inline: 0 !important;
        padding-inline-start: 1em !important;
        border-radius: 0 !important;
        padding-block: 0.5em !important;
        
    }
}


@media (-moz-platform: linux) {
    /*
      a litttle less margin for linux kde hidpi @ 150% (fw13 2256 x 1504)
    */
    :root {
        --firefoxcss-control-buttons-margin: 80px;
        
    }
    
    /*
      From: MrOtherGuy/firefox-csshacks: Workaround for Firefox bug : Use Linux's own
      mmc buttons instead of built-in ones when using a theme
    */
    .titlebar-button {
        list-style-image: none !important;
        appearance: auto !important;
        
    }
  
    .titlebar-min {
        -moz-default-appearance: -moz-window-button-minimize !important;
        
    }
    
    .titlebar-max {
        -moz-default-appearance: -moz-window-button-maximize !important;
        
    }
    
    .titlebar-restore {
        -moz-default-appearance: -moz-window-button-restore !important;
        
    }
    
    .titlebar-close {
        -moz-default-appearance: -moz-window-button-close !important;
        
    }
}

/*
  Remove the space given by ranmaru22/firefox-vertical-tabs for mmc controls
  in favor of letting datguypiko/Firefox-Mod-Blur handle it
*/
:root[tabsintitlebar]{
    --uc-window-control-width: 0px;
    
}

/*
  Don't display the ranmaru22/firefox-vertical-tabs built-in sidebar splitter
*/
#sidebar-box[sidebarcommand*="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden]) {
    border-right: unset;
    
}


/* Don't display the Nav Bar splitter */
#navigator-toolbox-background #navigator-toolbox {
    border-bottom: none !important;
    
}

/*
  Using TreeStyleTabs as vertical tabs implementation, moving the tab bar while
  hidded breaks things, so it is unset here
*/
#titlebar {
    order: unset !important;
    
}

/* ************************* */

:root {
    --uc-navbar-height: 41px;
    
}

:root[uidensity="compact"] {
    --uc-navbar-height: 38px;
    
}

:root[uidensity="touch"] {
    --uc-navbar-height: 46px
    
}

#nav-bar:not([customizing]) {
    position: relative;
    z-index: 3;
    padding-left: 48px;
    
}

:root[sessionrestored]:not([inFullscreen]) > body > #browser {
    margin-top: calc(var(--uc-navbar-height) * -1);
    
}

:root[sessionrestored]:not([inFullscreen]) #appcontent {
    margin-top: var(--uc-navbar-height);
    
}

/*
  Sidebar takes up entire side
*/

#sidebar-box {
    margin-top: -1px !important;
    z-index: 99 !important;
    
}

#sidebar-box:not([hidden]) {
    display: block;
    position: fixed;
    min-width: 48px;
    max-width: 48px;
    overflow: hidden;
    transition: all 0.2s ease;
    border-right: 1px solid var(--sidebar-border-color);
    
}

/************/


#nav-bar{
    border-inline: var(--uc-window-drag-space-width,80px) solid var(--toolbar-bgcolor) ;
    border-inline-style: unset !important;
    border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-width,0px));

    padding-top: .5px !important; /* This makes it possible to drag the maximized window. */
    margin-left: 48px; /* Removes the space left when hiding .titlebar-buttonbox-container */
    z-index: 1 !important;
  
}

/**/

#main-window #sidebar-box {
    z-index: 99 !important;
  
}

/* remove weird block on top of sidebar when on new tab page & bookmarks bar is set to "only show on new tab" */
#sidebar-box {
    padding-top: 0px !important;;
}

/* fix z fighting when higher tabs in sidebar are hovered, which overlap the nav bar */
#navigator-toolbox {
    z-index: 1 !important;
	
}